<div id="body">
  <div id="container">
    <h1 id="title">{{planet.name}}</h1>
    <ul>
      <li>Climate: {{planet.climate}}</li>
      <li>Rotation period: {{planet.rotation_period}}</li>
      <li>Orbital period: {{planet.orbital_period}}</li>
      <li>Diameter: {{planet.diameter}}</li>
      <li>Gravity: {{planet.gravity}}</li>
      <li>Terrarin: {{planet.terrain}}</li>
      <li>Surface water: {{planet.surface_water}}</li>
      <li>Population: {{planet.population}}</li>
    </ul>

    <div id="lists">
      <div *ngIf="planet.films.length > 0" style="display: flex; flex-direction: column">
        <h1>Films</h1>
        <div class="showDetails" *ngFor="let film of planet.films">
          <a routerLink="../../films/{{apiService.getItemId(film.url, 2, '/')}}">
            {{film.title}}</a>
          <div>
            <p><span>Director:</span> {{film.director}}</p>
            <p><span>Episode:</span> {{film.episode_id}}</p>
            <p><span>Producer:</span> {{film.producer}}</p>
            <p><span>Release date:</span> {{film.release_date}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="planet.residents.length > 0" style="display: flex; flex-direction: column">
        <h1>Characters</h1>
        <div class="showDetails" *ngFor="let person of planet.residents">
          <a routerLink="../../people/{{apiService.getItemId(person.url, 2, '/')}}">
            {{person.name}}</a>
          <div>
            <p><span>Gender:</span> {{person.gender}}</p>
            <p><span>Birthday:</span> {{person.birth_year}}</p>
            <p><span>Height:</span> {{person.height}}</p>
            <p><span>Mass:</span> {{person.mass}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
