<h1>{{starship.name}}</h1>
<ul>
  <li>MGLT: {{starship.MGLT}}</li>
  <li>Cargo capacity: {{starship.cargo_capacity}}</li>
  <li>Consumables: {{starship.consumables}}</li>
  <li>Cost in credits: {{starship.cost_in_credits}}</li>
  <li>Crew: {{starship.crew}}</li>
  <li>Hyperdrive rating: {{starship.hyperdrive_rating}}</li>
  <li>Length: {{starship.length}}</li>
  <li>Manufacturer: {{starship.manufacturer}}</li>
  <li>Max atmosphering speed: {{starship.max_atmosphering_speed}}</li>
  <li>Model: {{starship.model}}</li>
  <li>Passengers: {{starship.passengers}}</li>
  <li>Starship class: {{starship.starship_class}}</li>
</ul>

<div *ngIf="films" style="display: flex; flex-direction: column">
  <h1>Films</h1>
  <a *ngFor="let film of films" routerLink="../../films/{{getItemId(film.url, 2, '/')}}">
    {{film.title}}</a>
</div>

<div *ngIf="pilots" style="display: flex; flex-direction: column">
  <h1>Pilots</h1>
  <a *ngFor="let pilot of pilots" routerLink="../../people/{{getItemId(pilot.url, 2, '/')}}">
    {{pilot.name}}</a>
</div>
