<div *ngIf="planet">
  <h1>{{planet.name}}</h1>
  <ul>
    <li>Climate: {{planet.climate}}</li>
    <li>Rotation period: {{planet.rotation_period}}</li>
    <li>Orbital period: {{planet.orbital_period}}</li>
    <li>Diameter: {{planet.diameter}}</li>
    <li>Gravity: {{planet.gravity}}</li>
    <li>Terrarin: {{planet.terrain}}</li>
    <li>Surface water: {{planet.surface_water}}</li>
    <li>Population: {{planet.population}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{json.getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="residents" style="display: flex; flex-direction: column">
    <h1>Residents</h1>
    <a *ngFor="let element of residents"
       routerLink="/people/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>
