<h1 id="title">Search in Itunes & Deezer</h1>
<div id="artistForm">
  <input type="text" placeholder="Singer or music band" #artistInput (keyup.enter)="search(artistInput.value)">
  <input type="button" value="Search" (click)="search(artistInput.value)">
</div>
<div id="result" class="result" *ngIf="display">
  <a *ngFor="let element of resultData" href="{{element.url}}" target="_blank"
     rel="noopener noreferrer" class="albumSection">
    <img src="{{element.img}}" class="albumImg">
    <p class="albumTitle">{{element.title}}</p>
  </a>
</div>
