<div *ngIf="dataDetail">
  <h1>{{dataDetail.name}}</h1>
  <ul>
    <li>Birthday: {{dataDetail.birth_year}}</li>
    <li>Gender: {{dataDetail.gender}}</li>
    <li>Eye color: {{dataDetail.eye_color}}</li>
    <li>Hair color: {{dataDetail.hair_color}}</li>
    <li>Height: {{dataDetail.height}}</li>
    <li>Mass: {{dataDetail.mass}}</li>
    <li>Created: {{dataDetail.created}}</li>
    <li>Edited: {{dataDetail.edited}}</li>
    <li>Homeworld: {{dataDetail.homeworld}}</li>
    <li>Skin color: {{dataDetail.skin_color}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="species" style="display: flex; flex-direction: column">
    <h1>Species</h1>
    <a *ngFor="let element of species"
       routerLink="/species/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="starships" style="display: flex; flex-direction: column">
    <h1>Starships</h1>
    <a *ngFor="let element of starships"
       routerLink="/starships/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="vehicles" style="display: flex; flex-direction: column">
    <h1>Vehicles</h1>
    <a *ngFor="let element of vehicles"
       routerLink="/vehicles/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>
