<div id="body">
  <div id="container">
    <h1 id="title">{{vehicle.name}}</h1>
    <ul>
      <li>Cargo capacity: {{vehicle.cargo_capacity}}</li>
      <li>Consumables: {{vehicle.consumables}}</li>
      <li>Cost in credits: {{vehicle.cost_in_credits}}</li>
      <li>Crew: {{vehicle.crew}}</li>
      <li>Length: {{vehicle.length}}</li>
      <li>Manufacturer: {{vehicle.manufacturer}}</li>
      <li>Max atmosphering speed: {{vehicle.max_atmosphering_speed}}</li>
      <li>Model: {{vehicle.model}}</li>
      <li>Passengers: {{vehicle.passengers}}</li>
      <li>Vehicle class: {{vehicle.vehicle_class}}</li>
    </ul>

    <div id="lists">
      <div *ngIf="vehicle.films.length > 0" style="display: flex; flex-direction: column">
        <h1>Films</h1>
        <div class="showDetails" *ngFor="let film of vehicle.films">
          <a routerLink="../../films/{{apiService.getItemId(film.url, 2, '/')}}">
            {{film.title}}</a>
          <div>
            <p><span>Director:</span> {{film.director}}</p>
            <p><span>Episode:</span> {{film.episode_id}}</p>
            <p><span>Producer:</span> {{film.producer}}</p>
            <p><span>Release date:</span> {{film.release_date}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="vehicle.pilots.length > 0" style="display: flex; flex-direction: column">
        <h1>Characters</h1>
        <div class="showDetails" *ngFor="let person of vehicle.pilots">
          <a routerLink="../../people/{{apiService.getItemId(person.url, 2, '/')}}">
            {{person.name}}</a>
          <div>
            <p><span>Gender:</span> {{person.gender}}</p>
            <p><span>Birthday:</span> {{person.birth_year}}</p>
            <p><span>Height:</span> {{person.height}}</p>
            <p><span>Mass:</span> {{person.mass}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
