<div *ngIf="peoples[index]">
  <h1>{{peoples[index].name}}</h1>
  <ul>
    <li>Birthday: {{peoples[index].birth_year}}</li>
    <li>Gender: {{peoples[index].gender}}</li>
    <li>Eye color: {{peoples[index].eye_color}}</li>
    <li>Hair color: {{peoples[index].hair_color}}</li>
    <li>Height: {{peoples[index].height}}</li>
    <li>Mass: {{peoples[index].mass}}</li>
    <li>Created: {{peoples[index].created}}</li>
    <li>Edited: {{peoples[index].edited}}</li>
    <li>Homeworld: {{peoples[index].homeworld}}</li>
    <li>Skin color: {{peoples[index].skin_color}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{json.getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="species" style="display: flex; flex-direction: column">
    <h1>Species</h1>
    <a *ngFor="let element of species"
       routerLink="/species/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="starships" style="display: flex; flex-direction: column">
    <h1>Starships</h1>
    <a *ngFor="let element of starships"
       routerLink="/starships/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="vehicles" style="display: flex; flex-direction: column">
    <h1>Vehicles</h1>
    <a *ngFor="let element of vehicles"
       routerLink="/vehicles/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>
