div {
  display: flex;
  flex-direction: row;
}

.itemList {
  flex-direction: column;
  width: 300px;
  padding: 30px;
}

.buttons {
  justify-content: space-between;
}

p {
  margin: 0;
  padding: 0;
}
