<div>
  <div class="itemList">
    <div *ngFor="let item of itemsList">
      <ul>
        <li>
          <a [routerLink]="[getItemId(item.url, 2, '/')]">
            <span *ngIf="item.name">{{item.name}}</span>
            <span *ngIf="item.title">{{item.title}}</span></a>
        </li>
      </ul>
    </div>
    <div class="buttons">
      <button [disabled]="!previous || loader" (click)="updateList(previous)"><< Previous</button>
      <p *ngIf="loader">Loading...</p>
      <button [disabled]="!next || loader" (click)="updateList(next)">Next >></button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>



