<div *ngIf="starship[index]">
  <h1>{{starship[index].name}}</h1>
  <ul>
    <li>MGLT: {{starship[index].MGLT}}</li>
    <li>Cargo capacity: {{starship[index].cargo_capacity}}</li>
    <li>Consumables: {{starship[index].consumables}}</li>
    <li>Cost in credits: {{starship[index].cost_in_credits}}</li>
    <li>Created: {{starship[index].created}}</li>
    <li>Crew: {{starship[index].crew}}</li>
    <li>Edited: {{starship[index].edited}}</li>
    <li>Hyperdrive rating: {{starship[index].hyperdrive_rating}}</li>
    <li>Length: {{starship[index].length}}</li>
    <li>Manufacturer: {{starship[index].manufacturer}}</li>
    <li>Max atmosphering speed: {{starship[index].max_atmosphering_speed}}</li>
    <li>Model: {{starship[index].model}}</li>
    <li>Passengers: {{starship[index].passengers}}</li>
    <li>Starship class: {{starship[index].starship_class}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{json.getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="pilots" style="display: flex; flex-direction: column">
    <h1>Pilots</h1>
    <a *ngFor="let element of pilots"
       routerLink="/people/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>
