<div *ngIf="dataDetail">
  <h1>{{dataDetail.name}}</h1>
  <ul>
    <li>Climate: {{dataDetail.climate}}</li>
    <li>Rotation period: {{dataDetail.rotation_period}}</li>
    <li>Orbital period: {{dataDetail.orbital_period}}</li>
    <li>Diameter: {{dataDetail.diameter}}</li>
    <li>Gravity: {{dataDetail.gravity}}</li>
    <li>Terrarin: {{dataDetail.terrain}}</li>
    <li>Surface water: {{dataDetail.surface_water}}</li>
    <li>Population: {{dataDetail.population}}</li>
    <li>Created: {{dataDetail.created}}</li>
    <li>Edited: {{dataDetail.edited}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="residents" style="display: flex; flex-direction: column">
    <h1>Residents</h1>
    <a *ngFor="let element of residents"
       routerLink="/people/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>
