<div *ngIf="specie">
  <h1>{{specie.name}}</h1>
  <ul>
    <li>Average height: {{specie.average_height}}</li>
    <li>Average lifespan: {{specie.average_lifespan}}</li>
    <li>Classification: {{specie.classification}}</li>
    <li>Designation: {{specie.designation}}</li>
    <li>Eye color: {{specie.eye_colors}}</li>
    <li>Hair color: {{specie.hair_colors}}</li>
    <li>Homeworld: {{specie.homeworld}}</li>
    <li>Language: {{specie.language}}</li>
    <li>Skin color: {{specie.skin_colors}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{json.getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="residents" style="display: flex; flex-direction: column">
    <h1>Residents</h1>
    <a *ngFor="let element of residents"
       routerLink="/people/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>

