.people {
  margin: 10px 50px;
}

.people:hover {
  cursor: pointer;
  background-color: darksalmon;
}

.navigate > button {

  background-color: darksalmon;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 0;
}
