<div *ngIf="dataDetail">
  <h1>{{dataDetail.name}}</h1>
  <ul>
    <li>Average height: {{dataDetail.average_height}}</li>
    <li>Average lifespan: {{dataDetail.average_lifespan}}</li>
    <li>Classification: {{dataDetail.classification}}</li>
    <li>Created: {{dataDetail.created}}</li>
    <li>Designation: {{dataDetail.designation}}</li>
    <li>Edited: {{dataDetail.edited}}</li>
    <li>Eye color: {{dataDetail.eye_colors}}</li>
    <li>Hair color: {{dataDetail.hair_colors}}</li>
    <li>Homeworld: {{dataDetail.homeworld}}</li>
    <li>Language: {{dataDetail.language}}</li>
    <li>Skin color: {{dataDetail.skin_colors}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="residents" style="display: flex; flex-direction: column">
    <h1>Residents</h1>
    <a *ngFor="let element of residents"
       routerLink="/people/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>

