<div *ngIf="dataDetail">
  <h1>{{dataDetail.title}}</h1>
  <p>{{dataDetail.opening_crawl}}</p>
  <p>Director: {{dataDetail.director}}</p>
  <p>Episode: {{dataDetail.episode_id}}</p>
  <p>Producer: {{dataDetail.producer}}</p>
  <p>Release data: {{dataDetail.release_date}}</p>
  <p>Edited: {{dataDetail.edited}}</p>

  <div *ngIf="characters" style="display: flex; flex-direction: column">
    <h1>Characters</h1>
    <a *ngFor="let element of characters"
       routerLink="/people/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="planets" style="display: flex; flex-direction: column">
    <h1>Planets</h1>
    <a *ngFor="let element of planets"
       routerLink="/planets/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="species" style="display: flex; flex-direction: column">
    <h1>Species</h1>
    <a *ngFor="let element of species"
       routerLink="/species/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="starships" style="display: flex; flex-direction: column">
    <h1>Starships</h1>
    <a *ngFor="let element of starships"
       routerLink="/starships/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="vehicles" style="display: flex; flex-direction: column">
    <h1>Vehicles</h1>
    <a *ngFor="let element of vehicles"
       routerLink="/vehicles/details/{{getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>
