<div *ngIf="vehicles[index]">
  <h1>{{vehicles[index].name}}</h1>
  <ul>
    <li>Cargo capacity: {{vehicles[index].cargo_capacity}}</li>
    <li>Consumables: {{vehicles[index].consumables}}</li>
    <li>Cost in credits: {{vehicles[index].cost_in_credits}}</li>
    <li>Created: {{vehicles[index].created}}</li>
    <li>Crew: {{vehicles[index].crew}}</li>
    <li>Edited: {{vehicles[index].edited}}</li>
    <li>Length: {{vehicles[index].length}}</li>
    <li>Manufacturer: {{vehicles[index].manufacturer}}</li>
    <li>Max atmosphering speed: {{vehicles[index].max_atmosphering_speed}}</li>
    <li>Model: {{vehicles[index].model}}</li>
    <li>Passengers: {{vehicles[index].passengers}}</li>
    <li>Vehicle class: {{vehicles[index].vehicle_class}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{json.getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="pilots" style="display: flex; flex-direction: column">
    <h1>Pilots</h1>
    <a *ngFor="let element of pilots"
       routerLink="/people/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>

