<div *ngIf="planets[index]">
  <h1>{{planets[index].name}}</h1>
  <ul>
    <li>Climate: {{planets[index].climate}}</li>
    <li>Rotation period: {{planets[index].rotation_period}}</li>
    <li>Orbital period: {{planets[index].orbital_period}}</li>
    <li>Diameter: {{planets[index].diameter}}</li>
    <li>Gravity: {{planets[index].gravity}}</li>
    <li>Terrarin: {{planets[index].terrain}}</li>
    <li>Surface water: {{planets[index].surface_water}}</li>
    <li>Population: {{planets[index].population}}</li>
    <li>Created: {{planets[index].created}}</li>
    <li>Edited: {{planets[index].edited}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{json.getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="residents" style="display: flex; flex-direction: column">
    <h1>Residents</h1>
    <a *ngFor="let element of residents"
       routerLink="/people/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>
