<h1>{{people.name}}</h1>
<ul>
  <li>Birthday: {{people.birth_year}}</li>
  <li>Gender: {{people.gender}}</li>
  <li>Eye color: {{people.eye_color}}</li>
  <li>Hair color: {{people.hair_color}}</li>
  <li>Height: {{people.height}}</li>
  <li>Mass: {{people.mass}}</li>
  <li>Homeworld: <a *ngIf="people.homeworld.url" routerLink="../../planets/{{apiService.getItemId(people.homeworld.url, 2, '/')}}">
    {{people.homeworld.name}}</a></li>
  <li>Skin color: {{people.skin_color}}</li>
</ul>

<div *ngIf="people.films.length > 0" style="display: flex; flex-direction: column">
  <h1>Films</h1>
  <a *ngFor="let film of people.films" routerLink="../../films/{{apiService.getItemId(film.url, 2, '/')}}">
    {{film.title}}</a>
</div>
<div *ngIf="people.species.length > 0" style="display: flex; flex-direction: column">
  <h1>Species</h1>
  <a *ngFor="let specie of people.species"
     routerLink="../../species/{{apiService.getItemId(specie.url, 2, '/')}}">
    {{specie.name}}</a>
</div>

<div *ngIf="people.starships.length > 0" style="display: flex; flex-direction: column">
  <h1>Starships</h1>
  <a *ngFor="let starship of people.starships"
     routerLink="../../starships/{{apiService.getItemId(starship.url, 2, '/')}}">
    {{starship.name}}</a>
</div>

<div *ngIf="people.vehicles.length > 0" style="display: flex; flex-direction: column">
  <h1>Vehicles</h1>
  <a *ngFor="let vehicle of people.vehicles"
     routerLink="../../vehicles/{{apiService.getItemId(vehicle.url, 2, '/')}}">
    {{vehicle.name}}</a>
</div>
