<div *ngIf="people">
  <h1>{{people.name}}</h1>
  <ul>
    <li>Birthday: {{people.birth_year}}</li>
    <li>Gender: {{people.gender}}</li>
    <li>Eye color: {{people.eye_color}}</li>
    <li>Hair color: {{people.hair_color}}</li>
    <li>Height: {{people.height}}</li>
    <li>Mass: {{people.mass}}</li>
    <li>Homeworld: {{people.homeworld}}</li>
    <li>Skin color: {{people.skin_color}}</li>
  </ul>

  <div *ngIf="films" style="display: flex; flex-direction: column">
    <h1>Films</h1>
    <a *ngFor="let element of films"
       routerLink="/films/details/{{json.getUrlId(element.url)}}">{{element.title}}</a>
  </div>

  <div *ngIf="species" style="display: flex; flex-direction: column">
    <h1>Species</h1>
    <a *ngFor="let element of species"
       routerLink="/species/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="starships" style="display: flex; flex-direction: column">
    <h1>Starships</h1>
    <a *ngFor="let element of starships"
       routerLink="/starships/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>

  <div *ngIf="vehicles" style="display: flex; flex-direction: column">
    <h1>Vehicles</h1>
    <a *ngFor="let element of vehicles"
       routerLink="/vehicles/details/{{json.getUrlId(element.url)}}">{{element.name}}</a>
  </div>
</div>
