<div class="body">
  <div class="container">
    <div class="logo">
      <a href="">
        <img src="../../assets/logos.png" alt="Waxom">
        <h1>Waxom</h1>
      </a>
    </div>
    <div class="links">
      <a href="">Home</a>
      <a href="">About Us</a>
      <a href="">Portfolio</a>
      <a href="">Features</a>
      <a href="">Blog</a>
      <a href="">Pricing</a>
      <a href="">Shortcodes</a>
      <a href="">Contact</a>
      <div>
        <a href=""><img src="../../assets/Cart.png" alt="Cart"></a>
        <a href=""><img src="../../assets/Search.png" alt="Search"></a>
      </div>
    </div>
  </div>
</div>
